[Unit]
Description=Data Fuel Next.js App
After=network.target

[Service]
User=root
WorkingDirectory=/opt/data-fuel
ExecStart=/usr/bin/bash /opt/data-fuel/scripts/systemd/data-fuel-next-run.sh
Restart=always

[Install]
WantedBy=multi-user.target
