[Unit]
Description=Data Fuel Python API Service
After=network.target

[Service]
User=vicent
WorkingDirectory=/home/vicent/Documents/NextJs/data-fuel
ExecStart=/usr/bin/bash /home/vicent/Documents/NextJs/data-fuel/scripts/data-fuel-python-run.sh
Restart=always

[Install]
WantedBy=multi-user.target
